<!--<h3>Password reset complete</h3>-->

<!--<p>Your password has been set. You may go ahead and log in now.</p>-->

<!--<a href="/">Log in</a>-->


<style>
    body {
  font-size: 20px;
}


</style>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<div style="padding-top: 150px;"></div>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <h3><span style='font-size:100px;'>&#128526;</span></h3>

                        <h2 class="text-center">You can login now.</h2>
                            <div class="panel-body">
                                <a href="/">Log in</a>

                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>